---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import TicketInfo from "../components/TicketInfo.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Card
      href=""
      title="DJ Navn"
      body="Personen vender tilbage med hans nye set og masser af spændende musik til karussel festival"
    />
    <TicketInfo />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
