---
interface Props {}
---

<section class="ticket-info">
  <h2>Tickets</h2>
  <h3>Festival pass - ALL WEEK</h3>
  <h2>SALES ENDS - MARCH 21</h2>
  <h3>799,- DKK</h3>
  <button>Buy now</button>
</section>
<style>
  .ticket-info {
    text-align: center;
    padding: 15px;
    border-radius: 12%;
    margin-top: 10px;
    background: #d07b7b;
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  button {
    all: unset;
    background: #513c3c;
    padding: 5px 20px;
    border-radius: 16px;
    width: 150px;
    place-self: center;
  }
</style>
